<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La boutique de oCoffee des frères Pepper, spécialistes du café à Hauts-de-Cloques">
    <title>oCoffee</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <a href="/">
          <img class="logo" src="../images/logo.webp" alt="logo oCoffee">
          oCoffee
        </a>
    
        <nav id="menu-navbar">
          <button id="menu-button" class="menu-button" aria-label="Show navigation links">
            <img src="/public/images/burgerMenu.jpg" alt="menu" class="btn-img">
          </button>
    
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/catalog">Catalogue</a></li>
            <li><a href="/boutique">Boutique</a></li>
          </ul>
        </nav>
      </header>

