<%- include('./partials/header') %>

//TODO illustration

<article>
    <div>
      <h2>page détail</h2>
      <p>Origine Indonésie</p>
      <p>25,99 €/kg</p>
      <a class="button-outline" href="/catalog"> Catalogue </a>
    </div>
  </article>

<%- include('./partials/footer') %>